h1
{
font-size:48px;
margin-top:250px;
}

p
{
font-size:14px;
font-family:"Arial";
}

.portfolio
{
margin-top:250px;
margin-left:auto;
margin-right:auto;
}

.about
{
margin-top:250px;
margin-left:auto;
margin-right:auto;

}

.self
{
padding-top:250px;
margin-top:0.8em;
}

